<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Wanderlust</title>
	</head>

	<body>
		<% layout("/layouts/boilerplate") %>
		<div class="row mt-3">
			<div class="col-7 offset-2">
				<h3>Edit your Listing</h3>
				<br />
				<form
					method="post"
					action="/listings/<%=listing._id%>?_method=PUT"
					novalidate
					class="needs-validation"
					enctype="multipart/form-data">
					<div class="mb-3">
						<label
							for="title"
							class="form-lable"
							>Title</label
						>
						<input
							type="text"
							name="listing[title]"
							value="<%=listing.title%>"
							placeholder="enter title"
							class="form-control"
							required />
						<div class="invalid-feedback">Title required</div>
					</div>
					<div class="mb-3">
						<label
							for="description"
							class="form-lable"
							>Description</label
						>
						<textarea
							type="text"
							name="listing[description]"
							class="form-control"
							required>
<%=listing.description%></textarea
						>
						<div class="invalid-feedback">Description required</div>
					</div>
					<div class="mb-3">
						<img
							src="<%= originalImage%>"
							alt="listing image" />
					</div>
					<div class="mb-3">
						<label
							for="image"
							class="form-lable"
							>Upload New Image</label
						>
						<input
							type="file"
							name="listing[image]"
							class="form-control" />
					</div>
					<div class="row">
						<div class="mb-3 col-md-4">
							<label
								for="price"
								class="form-lable"
								>Price</label
							>
							<input
								type="number"
								name="listing[price]"
								value="<%=listing.price%>"
								placeholder="enter price"
								class="form-control"
								required />
							<div class="invalid-feedback">Price required</div>
						</div>
						<div class="mb-3 col-md-8">
							<label
								for="country"
								class="form-lable"
								>Country</label
							>
							<input
								type="text"
								name="listing[country]"
								value="<%=listing.country%>"
								placeholder="enter country"
								class="form-control"
								required />
							<div class="invalid-feedback">
								Country name required
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label
							for="location"
							class="form-lable"
							>Location</label
						>
						<input
							type="text"
							name="listing[location]"
							value="<%=listing.location%>"
							placeholder="enter location"
							class="form-control"
							required />
						<div class="invalid-feedback">Location required</div>
					</div>
					<button class="btn edit-btn mb-3 mt-3">save</button>
				</form>
			</div>
		</div>
	</body>
</html>
